<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      th:with="metaTitle='로그인'">
<body>
<!-- content -->
<th:block layout:fragment="content">

    <p th:if="${#strings.equals(result, 'false')}" th:text="|비밀번호 틀렸어요 |"></p>
    <form th:action="@{/view/home/signin}" method="post">
        <table>
            <tr>
                <td><label for="user-id">ID</label></td>
                <td><input type="text" name="id" id="user-id" required placeholder="아이디 입력"></td>
            </tr>
            <tr>
                <td><label for="user-pw">PASSWORD</label></td>
                <td><input type="password" name="pw" id="user-pw" required placeholder="비밀번호 입력"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="로그인">
        <input type="button" onclick="goSignUpPage()" value="회원가입">
    </form>
</th:block>
<!-- //content -->

<!-- script -->
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/views/js/signin.js}"></script>
</th:block>
<!-- //script -->

</body>
</html>