<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      th:with="metaTitle='로그인'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">

    <form th:action="@{/view/home/signup}" method="post">
        <ul>
            <li>
                <label for="user-id">ID</label>
                <input type="text" name="id" id="user-id" required placeholder="아이디 입력">
            </li>
            <li>
                <label for="user-pw">PASSWORD</label>
                <input type="password" name="pw" id="user-pw" required placeholder="비밀번호 입력">
            </li>
            <li>
                <label for="user-id">이름</label>
                <input type="text" name="name" id="user-name" required placeholder="이름 입력">
            </li>
            <li>
                <label>&nbsp;</label>
                <input type="submit" value="회원가입">
            </li>
        </ul>
    </form>
</th:block>
<!-- //content -->

</body>
</html>