<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<style>
    ul { list-style:none;}
    li { line-height:50px;}
    label {
        width:75px;
        float:left;
        margin: 0px 20px;
    }
</style>


<body>
<label>&nbsp;</label><h1>영적전쟁</h1>
<form th:action="@{/home/signin}" method="post">
    <ul>
        <li>
            <label for="user-id">ID</label>
            <input type="text" name="id" id="user-id" required placeholder="아이디 입력">
        </li>
        <li>
            <label for="user-pw">PASSWORD</label>
            <input type="password" name="pw" id="user-pw" required placeholder="비밀번호 입력">
        </li>
        <li>
            <label>&nbsp;</label>
            <input type="submit" value="로그인">
        </li>
    </ul>
</form>
</body>
</html>


